### The dataset we use here is "food_order" across our analysis process

In [2]:
#Importing libraries used for Data Cleaning. 

import pandas as pd
import numpy as np

# Load the dataset
df= pd.read_csv("food_order.csv")
df.head()

,order_id,customer_id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
0,1477147,337525,Hangawi,Korean,30.75,Weekend,Not given,25,20
1,1477685,358141,Blue Ribbon Sushi Izakaya,Japanese,12.08,Weekend,Not given,25,23
2,1477070,66393,Cafe Habana,Mexican,12.23,Weekday,5,23,28
3,1477334,106968,Blue Ribbon Fried Chicken,American,29.20,Weekend,3,25,15
4,1478249,76942,Dirty Bird to Go,American,11.59,Weekday,4,25,24

In [3]:
# columns
df.columns

Index(['order_id', 'customer_id', 'restaurant_name', 'cuisine_type',
       'cost_of_the_order', 'day_of_the_week', 'rating',
       'food_preparation_time', 'delivery_time'],
      dtype='object')

In [4]:
# Drop the 'order_id' column from the DataFrame
df = df.drop(columns=['order_id'])

#### Modifying rating column

In [6]:
# Convert 'rating' column to numeric, forcing errors to NaN (invalid entries will be converted to NaN)
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')

# Check if there are still NaN values after the conversion
missing_ratings = df['rating'].isna().sum()
print(f"Missing ratings after conversion: {missing_ratings}")

# Fill missing ratings with the median rating of the corresponding restaurant
df['rating'] = df.groupby('restaurant_name')['rating'].transform(lambda x: x.fillna(x.median()))

# Check if there are still any missing ratings after filling
missing_ratings_after = df['rating'].isna().sum()
print(f"Missing ratings after filling: {missing_ratings_after}")

# Calculate the global median of ratings
global_mean = df['rating'].median()

# Fill any remaining NaN values with the global median
df['rating'] = df['rating'].fillna(global_mean)

# Round the ratings to the 1 decimal place
df['rating'] = df['rating'].round(1).astype(float)

# Check if any NaN values remain
missing_ratings_after_filling = df['rating'].isna().sum()
print(f"Missing ratings after filling with global mean and rounding: {missing_ratings_after_filling}")

Missing ratings after conversion: 736
Missing ratings after filling: 30
Missing ratings after filling with global mean and rounding: 0

#### Removing Duplicates

In [8]:
#Dropping if any duplicates in the data 
df.drop_duplicates(inplace=True)

#### Checking if the data is Suitable for analysis

In [10]:
print(df.info())
print(df.isnull().sum())
print(df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1898 entries, 0 to 1897
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            1898 non-null   int64
 1   restaurant_name        1898 non-null   object
 2   cuisine_type           1898 non-null   object
 3   cost_of_the_order      1898 non-null   float64
 4   day_of_the_week        1898 non-null   object
 5   rating                 1898 non-null   float64
 6   food_preparation_time  1898 non-null   int64
 7   delivery_time          1898 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 118.8+ KB
None
customer_id              0
restaurant_name          0
cuisine_type             0
cost_of_the_order        0
day_of_the_week          0
rating                   0
food_preparation_time    0
delivery_time            0
dtype: int64
0

In [11]:
#Renaming cleaned data
Cleaned_Food_Order=df

### Adding Column "total_time" in the dataset

In [13]:
Cleaned_Food_Order["total_time"]=Cleaned_Food_Order["food_preparation_time"]+Cleaned_Food_Order["delivery_time"]

### Replacing column names

In [15]:
Cleaned_Food_Order.columns=["Customer ID", "Restaurant Name","Cuisine Type","Cost of the order","Day of the week","Rating","Food preparing time","Delivery time","Total time"]

In [16]:
Cleaned_Food_Order.head()

,Customer ID,Restaurant Name,Cuisine Type,Cost of the order,Day of the week,Rating,Food preparing time,Delivery time,Total time
0,337525,Hangawi,Korean,30.75,Weekend,4.0,25,20,45
1,358141,Blue Ribbon Sushi Izakaya,Japanese,12.08,Weekend,5.0,25,23,48
2,66393,Cafe Habana,Mexican,12.23,Weekday,5.0,23,28,51
3,106968,Blue Ribbon Fried Chicken,American,29.20,Weekend,3.0,25,15,40
4,76942,Dirty Bird to Go,American,11.59,Weekday,4.0,25,24,49

### Cleaned Data Set

In [18]:
Cleaned_Food_Order.to_csv("Cleaned_Food_Order2.csv", index=False)

In [19]:
Cleaned_Food_Order['Restaurant Name'].unique()

array(['Hangawi', 'Blue Ribbon Sushi Izakaya', 'Cafe Habana',
       'Blue Ribbon Fried Chicken', 'Dirty Bird to Go',
       'Tamarind TriBeCa', 'The Meatball Shop', 'Barbounia',
       'Anjappar Chettinad', 'Bukhara Grill',
       'Big Wong Restaurant \x8c_¤¾Ñ¼', 'Empanada Mama (closed)', 'Pylos',
       "Lucky's Famous Burgers", 'Shake Shack', 'Sushi of Gari',
       'RedFarm Hudson', 'Blue Ribbon Sushi',
       'Five Guys Burgers and Fries', 'Tortaria', 'Cafe Mogador',
       'Otto Enoteca Pizzeria', 'Vezzo Thin Crust Pizza',
       'Sushi of Gari 46', 'The Kati Roll Company', 'Klong',
       '5 Napkin Burger', 'TAO', 'Parm', 'Sushi Samba',
       'Haru Gramercy Park', 'Chipotle Mexican Grill $1.99 Delivery',
       'RedFarm Broadway', 'Cafeteria', 'DuMont Burger',
       "Sarabeth's East", 'Hill Country Fried Chicken', 'Bistango',
       "Jack's Wife Freda", "Mamoun's Falafel", 'Prosperity Dumpling',
       'Blue Ribbon Sushi Bar & Grill', 'Westville Hudson',
       'Blue Ribbon Brooklyn', 'Nobu Next Door', 'Osteria Morini',
       'Haandi', 'Benihana', 'Han Dynasty', 'Chote Nawab',
       'Mission Cantina', "Xi'an Famous Foods", 'Rubirosa',
       "Joe's Shanghai \x8e_À\x8eü£¾÷´", 'Bareburger', 'The Odeon',
       'Pongsri Thai', 'Yama Japanese Restaurant', 'Momoya',
       'Balthazar Boulangerie', 'CafÌ© China', 'Boqueria',
       'Song Thai Restaurant & Bar', 'Five Leaves',
       'Pinto Nouveau Thai Bistro', "Amy Ruth's", 'Pepe Giallo',
       'indikitch', 'Yama 49', 'Piccolo Angolo', 'Pepe Rosso To Go',
       "L'Express", 'Amma', 'Delicatessen', "S'MAC",
       "Vanessa's Dumplings", 'Bhatti Indian Grill', 'Taro Sushi',
       'Donburi-ya', 'Hatsuhana', 'Samurai Mama', 'Waverly Diner',
       'Tarallucci e Vino Restaurant', "P.J. Clarke's",
       'Lantern Thai Kitchen', 'ilili Restaurant', 'The Smile',
       "Vanessa's Dumpling House", "Bubby's ", 'Woorijip',
       'Dirty Bird To Go (archived)', 'Haveli Indian Restaurant',
       'Dos Caminos', 'da Umberto', 'Sushi of Gari Tribeca',
       'Burger Joint', 'Room Service', "Sarabeth's Restaurant",
       'Xe May Sandwich Shop', 'Hibino', 'Mira Sushi', 'Melt Shop',
       'J. G. Melon', 'Hummus Place', 'Saravanaa Bhavan',
       'Friend of a Farmer', 'The Loop', 'Balade', 'Posto',
       'Terakawa Ramen', 'Kambi Ramen House', 'Wo Hop Restaurant',
       'Spice Thai', "Dickson's Farmstand Meats",
       'UVA Wine Bar & Restaurant', 'Serafina Fabulous Pizza',
       'Gaia Italian Cafe', 'Chola Eclectic Indian Cuisine',
       'Hot Kitchen', 'Junoon', 'Ravagh Persian Grill', 'Rohm Thai',
       'Dig Inn Seasonal Market', 'Olea', 'Cho Dang Gol',
       'El Parador Cafe', 'Socarrat Paella Bar',
       "Don's Bogam BBQ & Wine Bar", 'Alidoro', "Tony's Di Napoli",
       'Cipriani Le Specialita', 'Sushi Choshi', 'Kanoyama', 'V-Nam Cafe',
       'Zero Otto Nove', 'Dos Caminos Soho', 'Go! Go! Curry!',
       'La Follia', 'Izakaya Ten', '12 Chairs', 'Philippe Chow',
       'The MasalaWala', 'brgr', "Carmine's", 'Asuka Sushi', 'Aurora',
       "Sarabeth's", 'Crema Restaurante', "Big Daddy's",
       'Moonstruck on Second', 'Cafe de La Esquina', 'Olive Garden',
       '67 Burger', 'Tres Carnes', "Schnipper's Quality Kitchen",
       'Nha Trang One', 'Market Table', 'Galli Restaurant',
       'Hampton Chutney Co.', 'Byblos Restaurant',
       'Grand Sichuan International', 'Le Grainne Cafe', 'Il Bambino',
       'Kori Restaurant and Bar', 'DespaÌ±a', 'Lamarca Pasta',
       'Lucky Strike', "Paul & Jimmy's", 'Hunan Manor', "Coppola's East",
       'Emporio', 'Wa Jeal', 'Le Zie 2000 Trattoria', 'Rye House',
       "Hiroko's Place", 'Frank Restaurant', "Sarabeth's West",
       "'wichcraft"], dtype=object)

In [20]:
Cleaned_Food_Order['Restaurant Name'].nunique()

178

In [35]:
restaurant_cuisines = df.groupby("Restaurant Name")["Cuisine Type"].apply(lambda x: ", ".join(x.unique())).reset_index()
print(restaurant_cuisines)

      Restaurant Name    Cuisine Type
0          'wichcraft        American
1           12 Chairs  Middle Eastern
2     5 Napkin Burger        American
3           67 Burger        American
4             Alidoro        American
..                ...             ...
173    Zero Otto Nove         Italian
174              brgr        American
175        da Umberto         Italian
176  ilili Restaurant  Middle Eastern
177         indikitch          Indian

[178 rows x 2 columns]

In [43]:
restaurant_cuisines.to_csv("restaurant_cuisines.csv", index=False)

In [41]:
restaurant_cuisines = df.groupby("Restaurant Name")["Cuisine Type"].nunique().reset_index()
restaurant_cuisines.columns = ["Restaurant Name", "Cuisine Count"]
print(restaurant_cuisines.sort_values(by="Cuisine Count", ascending=False))

                 Restaurant Name  Cuisine Count
153            The Meatball Shop              2
0                     'wichcraft              1
112             Pepe Rosso To Go              1
114               Piccolo Angolo              1
115    Pinto Nouveau Thai Bistro              1
..                           ...            ...
61              Galli Restaurant              1
62                Go! Go! Curry!              1
63   Grand Sichuan International              1
64                        Haandi              1
177                    indikitch              1

[178 rows x 2 columns]